.header a {
    text-decoration: none;
    font-size: x-large;
    font-weight: 700;
    margin-right: 40px;
    color: white;
}

.header {
    text-align: center;
    background-color: cornflowerblue;
    padding: 20px;
}